/vendor
/composer.lock
/runtime
/db.sqlite

# used on develop for testing without commit
# composer.json
#"repositories": [
#    {
#      "type": "path",
#      "url": "./local/cekta/framework"
#    }
#  ]
/local